.NavBar{
  display: flex;
  justify-content: space-between;
  padding:1.5rem;
  height: 70px;
}
.Button{
  width: auto;
  height: 50px;
  font-size: 2rem;
}

.Menu{
  padding-top: 1.5rem;
  width: 20%;
  height: 100%;
}